{% extends 'base.html.twig' %}

{% block title %}{{ new.getTitle() }}{% endblock %}

{% block body %}
   <div class="container mt-5 shadow-sm p-3 mb-5 bg-white rounded">
        <h3 class="m-3">{{ new.getTitle() }}</h1>
        <p>
            {{ new.getDescription() }}
        </p>
    </div>        
{% endblock %}
