{% extends 'main.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    {% block header %} 
        {{ include('view/header.html.twig') }}
    {% endblock %}
    {% block main %}
        <div class="container">
 
            <h1 class="m-3">Об авторе</h1>
            <figure>
                <blockquote class="blockquote"> 
                <p class="lead">
                    Привет всем, кто использует миникс-Я делаю (бесплатную) 
                    операционную систему (всего лишь хобби, не будет большой и профессиональной как gnu) для клонов 386(486) AT. 
                    Она ваялась с апреля, и скоро будет готова. Я хочу отзывов о том, что людям нравится/не нравится в миниксе, 
                    ибо моя система на неё похожа(такое же устройство файловой системы(по практическим соображениям) среди всего прочего).
                </p>
                </blockquote >
            </figure>
            <p class="">
                Линус родился в Хельсинки. Родители, шведскоговорящие финны Нильс и Анна Торвальдс, были в 60-х годах студентами-радикалами, отец даже был коммунистом, в середине 70-х проведшим год в Москве. 
                Линус был назван в честь Линуса Полинга. В школе преуспевал в физике и математике. Был малообщительным, скромным мальчиком. 
                Его часто дразнили из-за политических взглядов его отца.
            </p>
            <p class="">
                В 1988 году Линус поступил в Университет Хельсинки, который окончил в 1996, получив степень магистра кибернетики.
                Линус Торвальдс живёт в г. Портленд, штат Орегон, США, с женой Туве (Tove), шестикратной чемпионкой Финляндии по каратэ, тремя дочерьми: 
                Патрицией Мирандой (р. 5 декабря 1996), Даниэлой Йоландой (р. 16 апреля 1998) и Селестой Амандой (р. 20 ноября 2000), а также котом Рэнди.
            </p>
            <p class="">
                С февраля 1997 по июнь 2003 он работал в компании Transmeta Corporation, после чего перешёл в компанию Open Source Development Labs. 
                Хотя OSDL находится в Портленде, Орегон, он работает дома в Сан-Хосе.

                Личный талисман Линуса Торвальдса — пингвин Такс (Tux), ставший также эмблемой ОС Linux.
            </p>
            <p class="">
                Закон Линуса, окончательно сформулированный Эриком С. Рэймондом, гласит: 
                «При достаточном количестве глаз, все ошибки лежат на поверхности». Глубокой ошибкой называется такая, 
                которую трудно найти, но если достаточно много людей ищут ошибки, то все они становятся поверхностными. 
                Оба программиста разделяют идеологию открытого исходного кода, отчасти основанную на вере в этот закон.
            </p>
         </div>
    {% endblock %}
    {% block footer %}
        {{ include('view/footer.html.twig') }}
    {% endblock %}
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}
