{# {% extends 'base.html.twig' %} #}
{% extends 'main.html.twig' %}

{% block title %}crt-symfony-3{% endblock %}

{% block body %}
  
  {% block header %} 
    {{ include('view/header.html.twig') }}
  {% endblock %}

  {% block main %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">crt-symfony-3</h1>
            <p class="lead text-muted">My third homework project</p>
            <p>
              <a href="/about" class="btn btn-primary my-2">Об авторе</a>
              <a href="/article" class="btn btn-secondary my-2">Блог</a>
            </p>
          </div>
        </div>
      </section>

      <div class=" album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for new in news %}             
            <div class="col ">
            <div class="card shadow-sm p-2 card-height"> 
                  <p class="card-text">Новость:  {{ new.title }}</p>
                  <p class="card-text">Описание:  {{ new.description }}</p>  
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}  
          </div>
        </div>
      </div>
      
      
  {% endblock %}

  
  {% block footer %}
    {{ include('view/footer.html.twig') }}
  {% endblock %}
    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock %}

